.register form {
  width: 30%;
  height: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  z-index: 1;
}

.register header {
  width: 100%;
  position: static;
}

.register header img {
  cursor: pointer;
}

.register .logo {
  margin: 0 auto;
}

.register .logo img {
  max-height: 100px;
  min-height: 100px;
  max-width: 100px;
  min-width: 100px;
}

.register .logo h1 {
  width: auto;
}

.registerForm div {
  width: 100%;
}
