.userFeed {
  width: 35%;
  height: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
  color: #043f5f;
  font-size: 24px;
  font-weight: 400;
}

.userFeed div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.userFeed div button {
  width: 45%;
}

.userFeed div input[type="file"] {
  display: none;
}

.userFeed img {
  height: 35%;
  width: 35%;

  margin-top: 100px;
}

.userFeed h2 {
  margin-bottom: 40px;
}

.userFeed p {
  margin-bottom: 20px;
}

.userFeed button {
  height: 55px;
  width: 30%;
  border-radius: 10px;
  border: none;
  background-color: #2e8fb0;
  color: #fff;
  margin: 0 auto;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  font-size: 22px;
}

.userFeed form {
  width: 60%;
  text-align: left;
  margin: 0 auto;
}

.userFeed form .buttonGroup {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.userFeed .buttonGroup button {
  /* width: 50%; */
  margin-right: 5%;
}

.buttonGroup button#cancel {
  margin-right: 0;
  background-color: #b5b5b5;
  color: rgba(0, 0, 0, 0.7);
}

@media (max-width: 700px){
  .header{
    position: relative;
  }

  .header img{
    width: 80px !important;
    height: 80px !important; 
  }

  .header .backImage img {
    width: 40px !important;
    height: 40px !important;
  }

  .userFeed {
    width: 80%;
    margin: 0 auto;
    height: auto;
    position: relative;
    top: 0;
    left:0 ;
    transform: none;
    text-align: center;
    z-index: 1;
    color: #043f5f;
    font-size: 24px;
    font-weight: 400;
  }
  .userFeed img {
    height: 20%;
    width: 20%;
    margin-top: 0px;
  }
  .userFeed h2 {
    margin-bottom: 20px;
    font-size: 30px;
  }

  .userFeed div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
  }

  .userFeed p {
    margin-bottom: 20px;
    width: 100%;
    font-size: 17px;
    white-space: nowrap;
  }

  .userFeed div button {
    width: 45%;
    font-size: 17px;
    height: auto;
    padding: 7px 5px;
  }

  .buttonGroup button#cancel {
    margin-right: 0;
    background-color: #bd2828;
    color: rgba(0, 0, 0, 0.7);
    width: auto;
    padding-left: 5px;
    padding-right: 5px;
    margin: 0;
}

.userFeed .buttonGroup button {
  /* width: 50%; */
  margin-top: 0px;
}

  .userFeed form input {
    width: 100%;
    height: auto;
    font-size: 18px;
    padding: 10px;
    border-radius: 10px;
    border: none;
}

}
