.homeFeed {
  width: 35%;
  height: auto;
  position: absolute;
  top: 20%;
  z-index: 1;
  left: 12%;
}

.rectanguleClass {
  width: 210%;
  min-height: 135px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;

  margin-top: 100px;
  margin-bottom: 100px;
}

.events {
  padding-bottom: 10px;
}

.createEvent {
  position: absolute;
  height: 100px;
  width: 210%;
}

.nameClass h1 {
  width: 197px;
  height: 40px;
  padding-top: 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  color: #043f5f;

  margin-left: 36px;
}

.createEvent button {
  width: 344px;
  height: 60px;
  background: #2e8fb0;
  border-radius: 10px;

  float: right;
  margin-right: 22px;
}

.createEvent button h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 48px;
  color: #ffffff;
}

.rectanguleEvent {
  width: 95%;
  height: 243px;
  background: #e1e7dd;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 18px;

  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 30px;
}

.rectanguleEvent .nameEvent {
  height: 0px;
  position: absolute;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 43px;
  color: rgba(0, 0, 0, 0.6);

  padding-top: 14px;
  padding-left: 27px;
}

.rectanguleEvent .dateEvent {
  height: 0px;
  width: 200%;
  position: absolute;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 37px;
  color: rgba(0, 0, 0, 0.6);
  text-align: right;

  padding-top: 14px;
  padding-right: 40px;
}

.rectanguleEvent .line {
  position: absolute;
  width: 190%;
  height: 0px;
  border: 1px solid #666666;

  margin-left: 27px;
  margin-top: 61px;
}

.rectanguleEvent .descriptionEvent {
  height: 0px;
  position: absolute;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);

  margin-left: 27px;
  margin-top: 72px;
}

.rectanguleEvent .timeBeginEvent {
  height: 0px;
  width: 160%;
  position: absolute;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
  text-align: right;

  padding-right: 45px;
  margin-top: 72px;
}

.rectanguleEvent .timeEndEvent {
  height: 0px;
  width: 200%;
  position: absolute;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
  text-align: right;

  padding-right: 45px;
  margin-top: 72px;
}

.rectanguleEvent .keyWordEvent {
  height: 0px;
  position: absolute;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);

  margin-left: 27px;
  margin-top: 116px;
}

.keyWordEvent h2 {
  width: 500px;
}

.rectanguleEvent .editEvent {
  height: 0px;
  width: 100%;

  position: absolute;
}
* .rectanguleEvent .deleteEvent {
  height: 0px;
  width: 100%;
  position: absolute;
}

.rectanguleEvent .frequenceEvent {
  height: 0px;
  width: 100%;

  position: absolute;
}

.rectanguleEvent .editEvent button {
  width: 45%;
  height: 50px;
  background: #2e8fb0;
  border-radius: 10px;

  margin-left: 25%;
  margin-top: 180px;
}

.rectanguleEvent .deleteEvent button {
  width: 45%;
  height: 50px;
  background: #ff6262;
  border-radius: 10px;

  margin-left: 125%;
  margin-top: 180px;
}

.rectanguleEvent .frequenceEvent button {
  width: 45%;
  height: 50px;
  background: #2e8fb0;
  border-radius: 10px;

  margin-left: 75%;
  margin-top: 180px;
}

.rectanguleEvent button h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 40px;
  color: #ffffff;
}

.descriptionEvent h2 {
  width: 500px;
  height: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Toastify__toast-container {
  height: 50px;
  width: 30%;
}

.Toastify__close-button {
  width: 10%;
}

.Toastify__toast-body {
  margin: 10px;
}

.filter-inputs {
  background: #e1e7dd;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 18px;

  padding: 20px;

  text-align: center;
}
.filter-inputs .MuiFormControl-root {
  display: inline-block;
}

.filter-inputs .MuiInputBase-root {
  width: 344px;
  font-size: 24px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #043f5f;
  font-style: normal;
}

.filter-inputs input[name="date"] {
  margin-top: 25px;
  width: 344px;
  height: 49px;
  background: #ffffff;
  border: 0px;
  border-radius: 8px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 43px;
  color: #043f5f;
  padding: 10px;
  
  text-align: center;
}

.filter-inputs button {
  margin-top: 25px;
  display: block;
  width: 344px;
  height: 60px;
  background: #2e8fb0;
  border-radius: 10px;

  display: inline-block;
}

.filter-inputs button h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 48px;
  color: #ffffff;
}

@media (max-width: 1000px){

  .homeHeader *{
    width: 100%;
  }

  .createEvent{
    width: 100%;
    height: auto;
  }

  .createEvent button{
    width: 100%;
    left: 0;
    top: 0;
    height: auto;
    position: relative;
    float: none;
  }
  .createEvent button h1{
    font-size: 18px;

  }
  .homeFeed{
    width: 100%;
    position: relative;
    top: 0;
    z-index: 1;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-top: 175px;
  }

  .homeFeed .rectanguleClass{
    margin-left:  auto;
    margin-right: auto;
    margin: 25px auto;
    width: 80%;
    height: auto;
    min-height: 0px;
    padding: 0 10px 20px 10px;
    
  }

  .rectanguleClass .nameClass{
    width: 30%;
    position: relative;
    display: block;
    height: auto;
    padding: 0;
    margin: 0;
  }

  .rectanguleClass .nameClass h1{
    width: 100%;
    height: auto;
    font-size: 30px;
    margin: 0;
    padding: 0;
  }

  h2{
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }

  .rectanguleEvent .nameEvent,
  .rectanguleEvent .dateEvent,
  .rectanguleEvent .editEvent,
  .rectanguleEvent .line,
  .rectanguleEvent .descriptionEvent,
  .rectanguleEvent .timeBeginEvent,
  .rectanguleEvent .timeEndEvent,
  .rectanguleEvent .keyWordEvent,
  .rectanguleEvent .editEvent,
  .rectanguleEvent .deleteEvent,
  .rectanguleEvent .frequenceEvent{
    padding: 0 7px 0 7px;
    margin: 5px 0 5px 0;
  }

  .rectanguleEvent{
    height: auto;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 20px;
    width: 100%;

  }

  .rectanguleEvent .nameEvent{
    font-size: 11px;
    display: inline-block;
    position: relative;
    height: auto;
    width: 100%;
  }

  .rectanguleEvent .dateEvent{
    height: auto;
    width: auto;
    font-size: 11px;
    position: relative;
    display: inline-block;
    text-align: left;
    line-height: normal;
  }

  .rectanguleEvent .line{
    width: auto;
    padding: 0 10px;
    margin-left: 7px;
    margin-right: 7px;
    height: auto;
    position: relative;
  }

  .rectanguleEvent .keyWordEvent,
  .rectanguleEvent .timeEndEvent,
  .rectanguleEvent .timeBeginEvent,
  .rectanguleEvent .descriptionEvent
  {
    width: 100%;
    height: auto;
    position: relative;
    display: inline-block;
    text-align: left;
    margin: 0;
    font-size: 11px;
  }

  .rectanguleEvent .keyWordEvent h2,
  .rectanguleEvent .descriptionEvent h2,
  .rectanguleEvent .nameEvent h2{
    width: 100%;
    line-height: normal;
    white-space: normal ;
    word-wrap: break-word;
  }

  .rectanguleEvent *{
    line-height: normal;
  }

  .rectanguleEvent .editEvent{
    width: 100%;
    height: auto;
    position: relative;
    display: inline-block;
    text-align: left;
    font-size: 11px;
  }

  .rectanguleEvent .editEvent button{
    width: 100%;
    height: auto;
    position: relative;
    display: inline-block;
    text-align: left;
    
    margin: 0;
    font-size: 11px;
  }

  .rectanguleEvent .editEvent h1{
    font-size: 16px;
    text-align: center;
  }

  .rectanguleEvent .deleteEvent{
    width: 100%;
    height: auto;
    position: relative;
    display: inline-block;
    text-align: left;
    font-size: 11px;
  }

  .rectanguleEvent .deleteEvent button{
    width: 100%;
    height: auto;
    position: relative;
    display: inline-block;
    text-align: left;
    margin: 0;
    font-size: 11px;
  }

  .rectanguleEvent .deleteEvent h1{
    font-size: 16px;

    text-align: center;
  }

  .rectanguleEvent .frequenceEvent{
    width: 100%;
    height: auto;
    position: relative;
    display: inline-block;
    text-align: left;
    font-size: 11px;
  }

  .rectanguleEvent .frequenceEvent button{
    width: 100%;
    height: auto;
    position: relative;
    display: inline-block;
    text-align: left;
    margin: 0;
    font-size: 11px;
  }

  .rectanguleEvent .frequenceEvent h1{
    font-size: 16px;
    height: auto;
    text-align: center;
  }

  /* PARTE DO HEADER */
  .homeHeader{
    position: fixed;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .homeHeader .backImage{
    width: auto;
  }

  .homeHeader .backImage img{
    width: 30px;
    height: 30px;
    max-width: 30px;
    min-width: 30px;
    max-height: 30px;
    min-height: 30px;
  }

  .homeHeader .logoImage,
  .homeHeader .textoLogo,
  .homeHeader .avatarImage{
    width: auto;
    margin: 0;
  }

  .homeHeader .logoImage img {
    max-width: 70px;
    min-width: 70px;
    max-height: 70px;
    min-height: 70px;
    padding: 0px;
  }

  .homeHeader .textoLogo h1{
    font-size: 27px;
    margin: 0;
  }

  .homeHeader .avatarImage{
    margin: 0 20px 0 0;
  }

  .homeHeader .avatarImage img{
    max-width: 50px;
    min-width: 50px;
    max-height: 50px;
    min-height: 50px;
    margin: 0;
  }



  
}
