.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 100px;
  position: fixed;
  top: 0;
  left: 0;

  padding: 10px 40px 0 40px;
}

.header img {
  height: 100%;
  width: 100px;
}
