* {
  /* width: 100%; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  background: url("./assets/background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-size: 22px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

button {
  cursor: pointer;
  border: 0px;
}

.avatar {
  border-radius: 50%;
}

@media only screen and (max-width: 1366px) {
  body {
    font-size: 18px;
  }
}
